<!DOCTYPE html>
<head>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>

	<!-- css -->
	<link href="/css/virus.css" rel="stylesheet" type="text/css">
	<link href="/css/viz.css" rel="stylesheet" type="text/css">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	
	<br><br>
	<h2 style="margin-left: 5%">Sewage Virus Profile</h2>
	<br>
	<button class="count" style="margin-left: 5%">By Count</button>
	<button class="host">By Host</button>
	<br><br>

	<div id="viz_virus"></div>

	<!-- library -->
	<script src="/js/d3.v3.min.js"></script>
	<script src="/js/queue.v1.min.js"></script>

	<!-- script -->
	<script src="/js/viz_virus.js"></script>
</body>