@font-face {
	font-family: HelveticaNeue;
	src: url(HelveticaNeue.ttf);
}

@font-face {
	font-family: HelveticaN;
	src: url(Helvetica.ttf);
}

@font-face {
	font-family: HelveticaBd;
	src: url(HelveticaBd.ttf);
}

@font-face {
	font-family: HelveticaCd;
	src: url(HelveticaCd.ttf);
}

body {
	min-width: 1200px;
	padding-bottom: 40px;
	background-color: #15202D !important;
	color: #ddd !important;
	font-size: 12px !important;
	font-family: 'HelveticaN', sans-serif;
}

#labname {
	font-family: 'HelveticaN', sans-serif;
	font-size: 12px !important;
	letter-spacing: 1px;
	line-height: 160%;
	/*background-color: rgba(255,255,255,0.04);*/
	/*padding: 10px;*/
	/*padding-left: 12px;*/
	color: rgba(255,255,255,0.85);
	text-decoration: none;
}

p {
	font-family: 'HelveticaN', sans-serif;
	font-size: 12px !important;
	letter-spacing: 0px !important;
	font-weight: 300;
	line-height: 150%;
	color: #aaa;
}

h3 {
	margin-top: 10px !important;
}

#about {
	font-family: 'HelveticaN', sans-serif;
	background-color: rgba(0,228,205,1);
	color: #15202D;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 0px;
	padding-bottom: 120px;
	padding-top: 100px;
}

#team {
	font-family: 'HelveticaN', sans-serif;
	font-size: 13px;
	font-weight: lighter;
	letter-spacing: 0px;
	padding-bottom: 10px;
	padding-top: 100px;
}

#diagram {
	position: relative;
	width: 82%;
	left: 9%;
}

.tagline {
	background-color: rgba(0,228,205,1);
	padding: 60px;
	padding-top: 140px;
	padding-bottom: 60px;
	color: #15202D;
	font-family: 'HelveticaN', sans-serif;
	font-size: 28px;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 0px;
	line-height: 180%;
}

.title {
	font-family: 'HelveticaN', sans-serif;
	letter-spacing: 3px;
	color: #3dabec;
	color: rgba(255,255,255, 1);
	font-size: 14px;
	line-height: 160%;
	font-weight: 400;
	text-transform: uppercase;
}

#footer {
	padding-bottom: 0px;
	text-align: right;
	font-family: 'HelveticaN', sans-serif;
	letter-spacing: 2px;
	font-size: 11px;
	line-height: 150%;
	font-weight: 300;
}

#name {
	background-color: rgba(0,228,205,1);
	width: 100%;
	margin: 0px;

	top: 0px;
	padding: 20px;
	padding-left: 20px;
	padding-top: 40px;
	padding-bottom: 10px !important;

	z-index: 140;
	position: fixed;
}


#header {
	font-family: 'HelveticaN', sans-serif;
	letter-spacing: 2px;
	font-size: 20px;
	left: 2px !important;
	color: rgba(255,255,255,1);
	font-weight: normal;
	line-height: 120%;
	padding-left: 10px;
}

#subheader {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 12px;
	color: rgba(255,255,255,0.6);
}

.maintitle {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	top: -215px !important;
	font-size: 21px !important;
	letter-spacing: 1px;
}

.subtitle {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px !important;
	text-align: right !important;
	bottom: 160px !important;
	right: 30px !important;
}

/* carousel */
.carousel-indicators {
	top: -55px !important;
	left: auto !important;
	right: 0 !important;
	width: 80% !important; 
	margin:0 !important;
	text-align: right !important;
}

.carousel-indicators li {
	border: 0px !important;
	background-color: rgba(255,255,255,0.8) !important;
	border-radius: 0px !important;
	width: 9% !important;
	height: 4px !important;
}

.carousel-indicators .active {
	background-color: #4c597b !important;
	opacity: 1 !important;
	margin: 1px !important;
}

.carousel-inner {
	border-top: 1px solid rgba(21,32,45,0.4); 
	height: 230px !important;
}

.carousel-caption {
	color: #aaa !important;
	font-family: 'Open Sans', sans-serif !important;
	text-shadow: none !important;
	z-index: 100 !important;
}

.container {
	padding-left: 0px !important;
	padding-right: 0px !important;
	width: 1000px !important;
}

.boxed-grey {
	padding: 0px !important;
	font-family: 'HelveticaNeue', sans-serif;
}

.department {
	font-size: 12px !important;
	color: #fff !important;
	opacity: 0.76 !important;
	position: relative;
}

.position {
	/*opacity: 0.6 !important;*/
}

a:hover {
	text-decoration: none;
}

#logo {
	position: relative;
	width: 55px;
	opacity: 0.5;
	padding-top: 5px;
}

#logo:hover {
	opacity: 0.75;
}

.box {
/*	padding: 10px;
	padding-left: 12px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 0.8;
}

.tab {
	position: relative;
	font-family: 'HelveticaN', sans-serif;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 1px;
	padding-top: 4px;
	text-align: right;
	padding-left: 100px;
	padding-bottom: -20px;
}


#about_tab {
	margin-right: 0px;
	padding: 18px;
	text-decoration: none;
}

#team_tab {
	right: 0px !important;
	margin-right: -6px !important;
	padding: 18px;
	text-decoration: none;
}

#contact_tab {
	right: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 18px;
	text-decoration: none;
}

#about_tab:hover {
	background-color: rgba(255,255,255,0.06);
	text-decoration: none;
}

#team_tab:hover {
	background-color: rgba(255,255,255,0.06);
	text-decoration: none;
}

#contact_tab:hover {
	background-color: rgba(255,255,255,0.06);
	text-decoration: none;
}

#foot_band {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 10px;
	z-index: 50;
}

.titlename {
	color: white;
	padding-top: 100px;
	font-family: 'HelveticaN', sans-serif;
	font-weight: lighter;
	font-size: 12px;
	letter-spacing: 1px;
}
