#viz_virus {
	background-color: #000;
	width: 1000px;
}

.virusHost {

	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	/*fill: rgba(255,255,255,0.3);*/
	stroke: none;
	text-align: left;
	letter-spacing: 1px;
}